

<button class="waves-effect waves-light btn col s6" data-loading-text="<i class='fa fa-cog' fa-spin></i>" ng-click="randomButton(places | filter:{isSelected:true})">Random</button>
<button class="waves-effect waves-light btn col s6" ng-click="resetButton(places | filter:{isSelected:true})">Reset</button>

<div id="randomDiv" ng-show="randomDiv">
	<h3>Lets go to {{randomSelectedPlace.name}}!</h3>
</div>


<!-- <div class="row">
<div ng-repeat="place in places | filter:{isSelected:true}" class="checkedDiv">
	<div class="switch">
		<label class="col s1">
		No
            <div class="col s1"><input type="checkbox" ng-model="place.isSelected" ng-change="inputChange(place)"></div>
            <span class="lever"></span>
    	Yes
    	</label>
            <div class="col s9">{{place.name}}</div>
            <div class="col s1"><button class="btn btn-danger fa fa-trash-o" ng-click="deletePlace(place.id)"></button></div>
    </div>
</div>
</div>

<div class="row" ui-sortable ng-model="places">
<div ng-repeat="place in places | filter:{isSelected:false}" class="nonCheckedDiv">
	<div class="switch">
		<label class="col s1">
		No
            <div class="col s1"><input type="checkbox" ng-model="place.isSelected" ng-change="inputChange(place)"></div>
            <span class="lever"></span>
    	Yes
    	</label>
            <div class="col s9">{{place.name}}</div>
            <div class="col s1"><button class="btn btn-danger fa fa-trash-o" ng-click="deletePlace(place.id)"></button></div>
    </div>
</div>
</div> -->


<div class="row">
     <form action="#">
     <div class="col s10">

     	<div class="row">
		<div ng-repeat="place in places | filter:{isSelected:true}" class="checkedDiv">
            <div class=" switch col s2">
            	<label>
            	<input type="checkbox" ng-model="place.isSelected" ng-change="inputChange(place)">
            	<span class="lever"></span>
            	</label>
            </div>
            <div class="col s9">{{place.name}}</div>
            <div class="col s1"><button class="btn red darken-2 fa fa-trash-o" ng-click="deletePlace(place.id)"></button></div>
    	</div>
    	</div>


		<div class="row" ui-sortable ng-model="places">
			<div ng-repeat="place in places | filter:{isSelected:false}" class="nonCheckedDiv">
            	<div class=" switch col s2">
            		<label>
            			<input type="checkbox" ng-model="place.isSelected" ng-change="inputChange(place)">
            			<span class="lever"></span>
            		</label>
            	</div>
            	
            	<div class="col s9">{{place.name}}</div>
            	<div class="col s1"><button class="btn red darken-2 fa fa-trash-o" ng-click="deletePlace(place.id)"></button></div>
    		</div>
		</div>
	</div>
	</form>
</div>

