<h1>search</h1>
<div>
	<div ng-repeat="place in places" class="boarder">
		<h3>Name:{{place.name}}</h3>
	</div>
</div>

<!-- <form name="resForm" class="form-horizontal" novalidate 
    ng-submit="send()">
        <div class="form-group">
            <label for="resName" class="col-xs-2 control-label">Name</label>
            <div class="col-xs-10">
                <input name="resName" type="text" class="form-control" 
                ng-model="place.name" required />
            </div>
        </div> -->

<input id="pac-input" class="controls" type="text" placeholder="Search Box">

<div id="map"></div>

  
